body{
    background: #B9D2B1;
}

.the_nav{
    background-color: #1E2D2F;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;

}

.logo{
 color: #F6AA1C !important;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }
  .hero-text-bid {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }

  :root {
    --clr-neon: #1E2D2F;
    --clr-bg: 	hsl(105, 27%, 76%);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  .cursive{
    font-family: "Balsamiq Sans", cursive;

  }
  body {
    background: var(--clr-bg);
    
    color: var(--clr-neon);
  }
  
  .neon-button {
    font-size: 1.2rem;
    font-family: "Balsamiq Sans", cursive;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;
  }
  
  .neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
  .neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .neon-button:hover,
  .neon-button:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
  }


  .tilesWrap {
    padding: 0;
    margin: 50px auto;
    list-style: none;
    text-align: center;
    
  }
  .tilesWrap li {
    display: inline-block;
    width: 20%;
    min-width: 200px;
    max-width: 230px;
    padding: 80px 20px 40px;
    position: relative;
    vertical-align: top;
    margin: 10px;
    font-family: 'helvetica', san-serif;
    min-height: 25vh;
    background: #262a2b;
    border: 1px solid #252727;
    text-align: left;
    max-height: 270px;
  }
  .tilesWrap li h2 {
    font-size: 55px;
    margin: 0;
    position: absolute;
    opacity: 0.2;
    top: 30px;
    right: 10px;
    color: #F6AA1C ;
    transition: all 0.3s ease-in-out;
  }
  .tilesWrap li h3 {
    font-size: 22px;
    color: #b7b7b7;
    margin-bottom: 5px;
   
  }
  .tilesWrap li a {
   
    color:#F6AA1C;
   
  }
  .tilesWrap li p {
    font-size: 16px;
    line-height: 18px;
    color: #b7b7b7;
    margin-top: 5px;
    max-height: 50px;
   
  }
  .tilesWrap li button {
    background: transparent;
    border: 1px solid #b7b7b7;
    padding: 10px 20px;
    color: #b7b7b7;
    border-radius: 3px;
    position: relative;
    transition: all 0.3s ease-in-out;
    transform: translateY(-40px);
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
  }
  .tilesWrap li button:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 120%;
    background: #b7b7b7;
    top: 0;
    opacity: 0;
    left: -140px;
    border-radius: 0 20px 20px 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    
  }
  .tilesWrap li:hover button {
    transform: translateY(5px);
    opacity: 1;
  }
  .tilesWrap li button:hover {
    color: #262a2b;
  }
  .tilesWrap li button:hover:before {
    left: 0;
    opacity: 1;
  }
  .tilesWrap li:hover h2 {
    top: 0px;
    opacity: 0.8;
  }
  
  .tilesWrap li:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: #fff;
    transform: skew(2deg, 2deg);
  }
  .tilesWrap li:after {
    content: '';
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.02);
  }
 
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    
  }
  .footer p{
    font-size: 1.5rem;
  }



  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
   
  }
  
  .description {
    color: grey;
    font-size: 18px;
  }
  
  .card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(7, 71, 18);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card a {
    text-decoration: none;
    font-size: 22px;
    
    margin-bottom: 0;
  }
  
  .card button:hover, a:hover {
    opacity: 0.7;
  }
  .card  button a{
    color:#F6AA1C;
    padding: 10px;
  }

  


  .custom-btn {
    -webkit-transition: font-size 0.5s;
    transition: font-size 0.5s;
  }
  .custom-btn:hover {
    padding-right: 12px;
    padding: 12px;
    font-size: 1.5em;
  }


  /* bid list table */
  /* bid list table */
  /* bid list table */
  .custom-table {
    min-width: 900px; }
    .custom-table thead tr, .custom-table thead th {
      padding-bottom: 30px;
      border-top: none;
      border-bottom: none !important;
      color: rgb(0, 0, 0);
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: .2rem; }
    .custom-table tbody th, .custom-table tbody td {
      color: rgb(0, 0, 0);
      font-weight: 400;
      padding-bottom: 20px;
      padding-top: 20px;
      font-weight: 300;
      border: none;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .custom-table tbody th small, .custom-table tbody td small {
        color: rgb(0, 0, 0);
        font-weight: 300; }
      .custom-table tbody th a, .custom-table tbody td a {
        color: rgb(0, 0, 0); }
      .custom-table tbody th .more, .custom-table tbody td .more {
        color: rgb(0, 0, 0);
        font-size: 11px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: .2rem; }
    .custom-table tbody tr {
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .custom-table tbody tr:hover td, .custom-table tbody tr:focus td {
        color:#000000; }
        .custom-table tbody tr:hover td a, .custom-table tbody tr:focus td a {
          color: #F6AA1C; }
        .custom-table tbody tr:hover td .more, .custom-table tbody tr:focus td .more {
          color: #F6AA1C; }
    .custom-table .td-box-wrap {
      padding: 0; }
    .custom-table .box {
      background: rgb(0, 0, 0);
      border-radius: 4px;
      margin-top: 15px;
      margin-bottom: 15px; }
      .custom-table .box td, .custom-table .box th {
        border: none !important; }